[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
loguru = "*"
myst-parser = {extras = ["linkify"], version = "*"}
pip = "*"
pipenv = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-book-theme = "*"

[dev-packages]
pytest = "*"
pytest-sphinx = "*"
sphinxcontrib-ansibleautodoc = {file = ".", editable = true}
